$true-white : #ffffff;
$bg-100 : #f2f2f2; // Black text OK
$bg-200 : #cdcdcd; // Black text OK
$bg-300 : #adadad; // Black text OK
$bg-400 : #909090;
$bg-500 : #767676;
$bg-600 : #5e5e5e;
$bg-700 : #474747; // White text OK
$bg-800 : #303030; // White text OK
$bg-900 : #121212; // White text OK
$true-black : #000000;

$red-100 : #ffeeee;
$red-200 : #ffbcbc;
$red-300 : #fb8e8e;
$red-700 : #8e1414;
$red-900 : #2f0000;

$yellow-100 : #f7f79b;
$yellow-200 : #d3d347;
$yellow-300 : #b3b319;
$yellow-700 : #4a4a00;
$yellow-900 : #131300;

$green-100 : #dcfadc;
$green-200 : #88e288;
$green-300 : #6ebf6e;
$green-700 : #005400;
$green-900 : #001700;


