@use '../config';

.row {
  font-size: 1.6rem;
  display: flex;
  position: absolute;

  height: 4rem;
  border-radius: config.$layout-radius;
  align-items: center;

  background-color: config.$color-true-white;

  transition: all .2s ease-in-out;
  box-shadow: config.$shadow-low;

  &--pending::before {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transform: translate(-3rem);

    background-color: config.$color-bg-700;
    content: '';
  }


  &__group{
    display: flex;
    margin: 0 1rem;

    flex-shrink: 0;

    &--button{
      width: 3rem;
      margin: 0 .5rem;
    }
    &--number{
      width: 2rem;

      font-weight: 700;

      & p{
        width: 100%;

        text-align: right;
      }
    }

    &--wide{
      width: 9.5rem;
    }

    &--triple {
      width: 18rem;
    }
  }

}
